body {
    background-color: rgba(0, 0, 0, 0.714);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 500px;
    height: 500px;
    border: 1px solid rgba(255, 217, 0, 0.189);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.gridRow {
    border: 1px solid black;
    display: flex;
}

.cell {
    border: 1px solid gray;
    margin: 0px;
    min-width: 20px;
    min-height: 20px;
    margin-right: 2px;
  }

  .newGridBtn {
width: 70px;
height: 30px; 
background-color: white; }